<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Enable rewriting -->
    <rewrite>
      <rules>

        <!-- Redirect trailing slashes if not a folder -->
        <rule name="Redirect Trailing Slash" stopProcessing="true">
          <match url="(.*)/$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Redirect" url="{R:1}" redirectType="Permanent" />
        </rule>

        <!-- Handle Authorization Header -->
        <rule name="Authorization Header" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_AUTHORIZATION}" pattern=".+"/>
          </conditions>
          <serverVariables>
            <set name="HTTP_AUTHORIZATION" value="{HTTP_AUTHORIZATION}" />
          </serverVariables>
          <action type="None" />
        </rule>

        <!-- Rewrite all other requests to index.php -->
        <rule name="Rewrite to index.php" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>

      </rules>
    </rewrite>

    <!-- Disable directory listing -->
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
